.signin{
    background-image: url("https://wallpaperaccess.com/full/3885433.jpg");
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    background-color: #ffffff87;
    padding: 30px;
    border: 1px solid rgb(18, 11, 227);
    border-radius: 1px;
}

.loginForm2{
    background-color: #ffffff87;
    padding: 20px;
    margin-top: 5px;
    border:  1px solid rgb(18, 11, 227);
    border-radius: 1px;
}

#login-btn{
    background-color: #3296a1;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
}
